/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: #333;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  transition: all .2s ease 0s;
}

img {
  max-width: 100%;
}

.contain {
  margin: auto;
  max-width: 1280px;
  padding: 50px 0;
  width: 90%;
}

.logo {
  margin: auto;
  width: 205px;
}

.main_nav {
  bottom: 20px;
  float: right;
  position: relative;
  width: 200px;
}
@media only screen and (max-width: 980px) {
  .main_nav {
    margin: auto;
    bottom: -20px;
    float: none;
  }
}
.main_nav li {
  display: inline;
  margin: 0 0 0 40px;
}
@media only screen and (max-width: 980px) {
  .main_nav li {
    margin: 0 20px;
  }
}
.main_nav a {
  color: #9fd5d3;
}

.about {
  font-family: helvetica;
  padding: 140px 0 90px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
}
@media only screen and (max-width: 480px) {
  .about {
    font-size: 1em;
  }
}

.clients {
  font-weight: 100;
  margin: auto;
  max-width: 1280px;
  text-align: center;
}
.clients h1 {
  font-size: 1.25em;
}

.client_logos {
  border-bottom: 3px dotted white;
  border-top: 3px dotted white;
  margin: 15px 0;
  overflow-x: scroll;
  padding: 75px 0;
}

.c_logo li {
  display: inline-block;
  margin: 0 50px;
}
@media only screen and (min-width: 481px) and (max-width: 968px) {
  .c_logo li {
    margin: 25px auto;
    width: 46%;
  }
}
@media only screen and (max-width: 480px) {
  .c_logo li {
    margin: 25px auto;
    width: 100%;
  }
}
.c_logo li a {
  display: inline-block;
}

.desaturate img {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  filter: url(../desaturate.svg#greyscale);
  transition: all .2s ease 0s;
}
.desaturate img:hover {
  -webkit-filter: grayscale(0);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: gray;
  filter: grayscale(0%);
  filter: url(../saturate.svg#greyscale);
}

.client_slider {
  margin: 150px auto;
  text-align: center;
}
.client_slider ul {
  background: #2a2a2a;
}

.s_top {
  color: #9FD5D3;
  float: right;
  margin: 15px 0 0;
  text-transform: capitalize;
}

.arrows {
  background: #2a2a2a;
  cursor: pointer;
  margin: 6px 0 0;
  padding: 10px 20px;
}

.leftarrow {
  background: url(../img/arrow_sprite.png) no-repeat;
  float: left;
  padding: 20px 12.5px;
}

.rightarrow {
  background: url(../img/arrow_sprite.png) no-repeat;
  background-position: -25px 0;
  float: right;
  padding: 20px 12.5px;
}

footer {
  text-align: right;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
}

.foot_nav a {
  color: #9fd5d3;
}

.telnum {
  color: #fff;
}

.contact {
  margin: 100px 0 0;
}

.goup {
  bottom: 0;
  position: fixed;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .goup {
    display: none;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
