/*
Syntax error: Invalid CSS after "	color#fff": expected "{", was ";"
        on line 243 of /Users/marquay/design_tower/sass/screen.scss

Backtrace:
/Users/marquay/design_tower/sass/screen.scss:243
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:533:in `block'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `call'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:553:in `block_child'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:534:in `block'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/bin/compass:19:in `load'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/bin/compass:19:in `<main>'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/bin/ruby_noexec_wrapper:14:in `eval'
/Users/marquay/.rvm/gems/ruby-1.9.3-p374/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	color#fff\": expected \"{\", was \";\"\A         on line 243 of /Users/marquay/design_tower/sass/screen.scss"; }
