
/*** Web Fonts ***/


@import url("//hello.myfonts.net/count/2b0a7a");

  
@font-face {font-family: 'HelveticaNeueLTStd-Lt';src: url('../webfonts/2B0A7A_0_0.eot');src: url('../webfonts/2B0A7A_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2B0A7A_0_0.woff') format('woff'),url('../webfonts/2B0A7A_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CenturyGothicStd';src: url('../webfonts/2B0A7A_1_0.eot');src: url('../webfonts/2B0A7A_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2B0A7A_1_0.woff') format('woff'),url('../webfonts/2B0A7A_1_0.ttf') format('truetype');}
 

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

$navclr:#9fd5d3;
$nav_bkg: #2a2a2a;
$dotline: 3px dotted #fff;
$arrowsize: 20px 12.5px;

@mixin dttext{
	font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
}

body{
	background: #333;
	color: #fff;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
}

a{
	text-decoration: none;
	transition: all .2s ease 0s;

}

img{
	max-width: 100%;
}

.contain {
    margin: auto;
    max-width: 1280px;
    padding: 50px 0;
    width: 90%;
}

.logo {
    margin: auto;
    width: 205px;
}


.ftog{

    display: none;

    @media only screen and (max-width: 480px){
        background: $nav_bkg;
        color: #FFFFFF;
        display: block;
        left: 0;
        padding: 20px;
        position: fixed;
        top: 6px;
    }
}
.fixed_nav {
    display: none;
}
    @media only screen and (max-width: 480px){
        .fixed_nav {
            background: $nav_bkg;
            height: 100%;
            overflow-y: scroll;
            padding: 25px 0;
            position: fixed;
            text-align: center;
            transition: all .2s ease 0s;
            width: 100%;
            z-index: 1;

            & .client_logos{
                border: none;
                width: 100%;
            }
        }

        .show {
            display: block;
        }
    }
    



.main_nav {
    bottom: 20px;
    float: right;
    font-size: 21px;
    position: relative;
    width: 250px;

    

    @media only screen and (max-width: 980px){
    		margin: auto;
    		bottom: -20px;
    		float: none;
    		text-align: center;
    	}
	

	li {
        @include horizontal-list-item(10px, left);
    	margin: 0 0 0 40px;


    	@media only screen and (max-width: 980px){
    		margin: 0 20px;
    	}
	}

	a{
		color:$navclr;

	}
	
}

.about {
    padding: 140px 0 90px;
    text-align: center;
    @include dttext;

    @media only screen and (max-width: 480px){
    	font-size: 1em;
    }
}

.clients {
	font-weight: 100;
    margin: auto;
    max-width: 1280px;
    text-align: center;

    h1 {
    	font-size: 1.25em;
	}	
}

.client_logos {
    border-bottom: $dotline;
    border-top: $dotline;
    margin: 15px 0;
    overflow-x: scroll;
    padding: 45px 0;
}

.c_logo {

    li {
	    display: inline-block;
	    margin: 0 50px;

	    @media only screen and (min-width: 481px) and ( max-width: 968px){
    		margin: 25px auto;
    		width: 46%;
    	}

	    @media only screen and (max-width: 480px){
    		margin: 25px auto;
    		width: 100%;
    	}

	    a{
	    	display: inline-block;

	    }


	}
}

.desaturate img{
	-webkit-filter: grayscale(1); 
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	filter: gray; 
	filter: grayscale(100%);
	filter: url(../desaturate.svg#greyscale);
	transition: all .2s ease 0s;

	&:hover{
		-webkit-filter: grayscale(0); 
		-webkit-filter: grayscale(0%); 
		-moz-filter: grayscale(0%);
		filter: gray; 
		filter: grayscale(0%);
		filter: url(../saturate.svg#greyscale);


	}

}

.client_slider{
	margin: 150px auto;
	text-align: center;

    @media only screen and (max-width: 480px){
        padding: 60px 0 0;
    }

	ul{
		background: #2a2a2a;
	}
}

.s_top {
    color: #9FD5D3;
    float: right;
    margin: 15px 0 0;
    text-transform: capitalize;
}

.arrows{
	background: #2a2a2a;
	cursor: pointer;
	margin: 6px 0 0;
	padding: 10px 20px;
}

.leftarrow{
	background: url(../img/arrow_sprite.png)no-repeat;
	float: left;
	padding: $arrowsize;
}

.rightarrow{
	background: url(../img/arrow_sprite.png)no-repeat;
	background-position: -25px 0;	
	float: right;
	padding: $arrowsize;
}

.dt_post {
    margin: 60px 0;
}

.pc{
    background: $nav_bkg;

    @media only screen and (max-width: 979px){
        padding: 5%;
        

    }
}
.inspired_content {
    line-height: 1.5;
    margin: 0 0 20px;
    text-align: left;
}

.date_time_author {
    padding: 2% 0;
    margin: 35px 0;

    @media only screen and (min-width: 980px){
        float: left;
        margin: 0 auto;
        padding: 2%;
        width: 35%;

    }
}

.post_img {
    background: $nav_bkg;
    text-align: center;
}

.post_content {

    @media only screen and (min-width: 980px){
        float: left;
        padding: 2%;
        width: 57%;
    }
}

.author_name {
    color: #aaa;
    margin: 0 0 15px;
}


.posteddate {
    margin: 15px 0;

    a{
        color: #FFFFFF;

    }
}

footer {
	font-family: 'CenturyGothicStd';
    text-align: right;
    @include dttext;
}

.foot_nav{

	a{
		color:$navclr;
	}

}

.telnum{
	color: #fff;
}

.contact{
	margin: 100px 0 0;
}

.goup {
    bottom: 0;
    position: fixed;
    right: 0;

    @media only screen and (max-width: 640px){
    	display: none;
    }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
