/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$navclr:#9fd5d3;
$dotline: 1px dotted #fff;
@mixin dttext{
	font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
}

body{
	background: #333;
	color: #fff;
	font-family: sans-serif;
}

a{
	text-decoration: none;
	transition: all .2s ease 0s;
}

img{
	max-width: 100%;
}

.contain {
    margin: auto;
    max-width: 1280px;
    padding: 50px 0;
    width: 90%;
}

.logo {
    margin: auto;
    width: 205px;
}

.main_nav {
    bottom: 20px;
    float: right;
    position: relative;
    width: 200px;
	
	li {
    	display: inline;
	}

	a{
		color:$navclr;
	}
}

.about {
    font-family: helvetica;
    padding: 50px 0;
    text-align: center;
    @include dttext;
}

.clients {
    margin: auto;
    max-width: 1280px;
    text-align: center;
}

.client_logos {
    border-bottom: 1px dotted #fff;
    border-top: 1px dotted #fff;
    margin: 15px 0;
    overflow-x: scroll;
    padding: 75px 0;
}

.c_logo {

    li {
	    display: inline;
	    margin: 0 50px;
	}
}

.lf_logo  {

	a {
	    background: url("../img/client_logo_sprite.png") repeat scroll 0 -87px;
	    padding: 16px 80px;

	    &:hover{
	    	background-position: 0 0;
	    }
	}
}

.tc_logo  {

	a {
	    background: url("../img/client_logo_sprite.png") repeat scroll -162px -68px;
	    padding: 26px 51px;

	    &:hover{
	    	background-position: -162px 0;
	    }
	}
}

.kr_logo  {

	a {
	    background: url("../img/client_logo_sprite.png") repeat scroll -261px -72px;
	    padding: 22px 80px;

	    &:hover{
	    	background-position: -261px 0;
	    }
	}
}

.nfc_logo  {

	a {
	    background: url("../img/client_logo_sprite.png") repeat scroll -421px -69px;
	    padding: 24px 102px;

	    &:hover{
	    	background-position: -421px 0;
	    }
	}
}

.s_top {
    color: #9FD5D3;
    float: right;
    text-transform: capitalize;
}

footer {
    text-align: right;
    @include dttext;
}

.foot_nav{

	a{
		color:$navclr;
	}

}

